<div class="container d-flex flex-column justify-content-center align-items-center">
<h1>Test pro Collabim s.r.o.</h1>
<span>Tato webová stránka po zadání hledané fráze zobrazí prvních 10 výsledků z Google search.<br>
   Následně nabízí možnost nalezené výsledky uložit ve formátu strojově čitelného PDF, či CSV.</span>
</div>

<app-hledej></app-hledej>
<footer class="footer mt-auto py-3 bg-light">
  <div class="container d-flex justify-content-center">
    <span class="text-muted">Vytvořil Petr Martan v roce 2022 jako test pro Collabim s.r.o.</span>
  </div>
</footer>

